.primary_color{
    background-color: #4c654d;
}

.secondary_color{
    background-color: #AFBAAE;
}

.diagonal-bg {
    background: linear-gradient(110deg, #AFBAAE 78%, transparent 50%, transparent 100%);
    background-color: transparent;
    background-size: 100% 100%;
}

.h-69{
    height: 69px;
}

.custom-shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

body{
    background-color: #EBEEE8;
}